---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
---

<Layout title="Xbotix 2023 Register">
  <Header />

  <div class="container mt-16">
    <Title title="Registration is closed" />

    <div class="text-subtitle">
      See you in 2024 🙌
    </div>
  </div>
</Layout>
