---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<span
  class="w-24 h-24 bg-tertiary flex flex-col justify-center items-center mx-4 mt-2"
>
  <span id={title.toLocaleLowerCase()} class="text-4xl text-white font-bold"
    >00</span
  >
  <span class="text-white">{title}</span>
</span>
