---
import type { ImageMetadata } from "astro";
interface Props {
  title: string;
  text: string;
  icon: ImageMetadata;
}

const { title, text, icon } = Astro.props;
---

<div class="w-full md:w-1/2 pr-4 pb-4">
  <div class="p-6 bg-ash shadow w-full h-full">
    <img src={icon.src} alt={title} />
    <a href="#">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        {title}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{text}</p>
  </div>
</div>
