---
import DetailCard from "./components/DetailCard.astro";
import CalendarIcon from "../../assets/calendar.svg";
import ClockIcon from "../../assets/clock.svg";
import MapIcon from "../../assets/map-pin.svg";
---

<div
  class="container px-0 flex flex-col-reverse md:flex-row justify-center items-center py-16"
>
  <DetailCard title="Time" subtitle="8.00 AM" icon={ClockIcon} />

  <DetailCard title="Date" subtitle="10 July 2023" icon={CalendarIcon} />

  <DetailCard
    title="Location"
    subtitle="Faculty of Engineering, University of Ruhuna, Hapugala, Galle."
    icon={MapIcon}
  />
</div>
