<div class="flex flex-col max-w-2xl w-full mx-auto mb-8">
  <div class="bg-secondary text-white pl-2 py-4">Upcoming events</div>

  <div
    class="flex flex-col md:flex-row py-8 px-4 justify-between items-center my-2"
  >
    <div class="text-center">
      <h2 class="font-medium text-3xl">10</h2>
      <h3>July</h3>
    </div>

    <div class="text-center my-2">
      <h2 class="font-medium text-xl">Undergraduate Category</h2>
      <h3>8AM Onwards, Drawing Office 01</h3>
    </div>

    <a
      href="/pdf/xbotix_2023_ug.pdf"
      class="px-2 py-3 rounded-full bg-secondary w-20 text-white uppercase text-center text-sm my-2"
    >
      Task</a
    >
  </div>

  <div
    class="flex flex-col md:flex-row py-8 px-4 justify-between items-center my-2"
  >
    <div class="text-center">
      <h2 class="font-medium text-3xl">10</h2>
      <h3>July</h3>
    </div>

    <div class="text-center my-2">
      <h2 class="font-medium text-xl">School Category</h2>
      <h3>8AM Onwards, Drawing Office 02</h3>
    </div>

    <a
      href="/pdf/xbotix_2023_school.pdf"
      class="px-2 py-3 rounded-full bg-secondary w-20 text-white uppercase text-center text-sm my-2"
    >
      Task</a
    >
  </div>
</div>
