---

import XbotixCard from "./components/XbotixCard.astro";
import BroadcastIcon from "../../assets/globe.svg";
import Link from "../../assets/link.svg";
import Fb from "../../assets/fb.svg";
import Twit from "../../assets/twitter.svg";
import ticketImage from '../../assets/footerlogo.png';
import '../../styles/footer.css'




---


<div>
    <footer>
        <div class="new-cont">
            <div class=" flex flex-col lg:flex-row mt-8">

                <div class="w-ful pr-4  text-subtitle">
                    <div class="footer_box">
                        <div class="footer_header">
                            <div class="footer_logo">
                                <img src="assets/img/logo.png" alt="Xbotix">
                            </div>
                        </div>
                        <div class="footer_box_body">
                            <p>
                                The biggest Robotic extravaganza of year 2023.Which is organized by Electrical and
                                Information Engineering Society (EIES) in collaboration with IEEE Student Branch, IET
                                Ruhuna Chapter and Mechanical and Manufacturing Engineering Student Society (MMESS)
                                university of Ruhuna
                            </p>
                            <ul class="footer_social">
                                <li>
                                    
                                    <a href="#"><i class="ion-social-pinterest"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-dribbble"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-subtitle ">
                    <div class="footer_box footer_box-1">
                        <div class="footer_header">
                            <h4 class="footer_title">
                                Contact us
                            </h4>

                            <i class="icon-phone"> </i>&nbsp Amoda - 070 438 2929 <br />
                            <i class="icon-phone"> </i>&nbsp Viraj - 070 267 5393
                            <br />
                            <i class="icon-phone"> </i>&nbsp Eranda - 077 991 4732
                        </div>
                        <div class="footer_box_body">
                            <h4 class="footer_title ">
                                Email:
                            </h4>
                            <form action="mailto:eiesruhuna@gmail.com" method="post" enctype="text/plain">
                                <div class="newsletter_form">
                                    <input type="email" class="form-control" placeholder="E-Mail here">
                                    <button type="submit" class="btn btn-rounded btn-block btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright_footer">
        <div class="md:container">
            <div class=" flex flex-col lg:flex-row mt-8">
                <div class="w-ful pr-4 text-subtitle">
                    <p>
                        <a>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Xbotix 2023
                        </a>
                    </p>
                </div>
                <div class="w-ful pr-4 text-subtitle ">
                    <ul class="footer_menu">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="About.html">About</a>
                        </li>
                        <li>
                            <a href="Gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
</div>

