---
import { getImage } from "astro:assets";
import LandingBackground from "../../assets/landing.png";

const optimizedLangingBackground = await getImage({
  src: LandingBackground,
  formats: ["avif", "webp", "jpeg"],
  sizes: ["400", "800", "1200", "1600", "2000"],
  breakpoints: [375, 768, 1024, 1200, 1600],
  placeholder: "blur",
});
---

<section
  class="w-screen h-screen relative bg-cover bg-no-repeat bg-center"
  style={`background-image: url(${optimizedLangingBackground.src})`}
>
  <div
    class="absolute h-screen flex flex-col justify-center text-white ml-8 md:ml-0 md:container"
  >
    <h2 class="text-xl md:text-5xl font-medium uppercase">
      Invent . Inspire . Achieve
    </h2>
    <strong class="text-secondary font-black text-4xl md:text-8xl uppercase"
      >XbotiX</strong
    >
    <p class="text-sm md:text-lg uppercase mt-2 mb-6">
      06 July 2023 -Faculty of Engineering,UOR.
    </p>
    <a
      href="/registration.html"
      class="px-10 py-3 rounded-full bg-secondary w-36"
    >
      Register</a
    >
  </div>
</section>
