---
import Title from "../Title.astro";
import XbotixCard from "./components/XbotixCard.astro";
import BroadcastIcon from "../../assets/globe.svg";
import DeadlineIcon from "../../assets/check-circle.svg";
import GalleryIcon from "../../assets/archive.svg";
import JudgeIcon from "../../assets/user-check.svg";
import '../../styles/price.css'
---

<div class="md:container px-12 py-24">
  <Title title="Prizes" />
  <div class="w-full flex flex-col lg:flex-row mt-8">
    <div class="w-full pr-4 ">
        <div class="text-center price_box">
            <div class="price_header">
                <h3>
                    Undergratuate Category
                </h3>
                <h5>
                    Prizes
                </h5>
            </div>
            <div class="price_features">
                <ul>
                    <li>
                        Winners
                    <li class="gold">
                        150 000 LKR
                    </li>
                    <hr>
                    </li>

                    <li>
                        1st Runner up
                    <li class="silver">
                        100 000 LKR
                    </li>
                    <hr>
                    </li>

                    <li>
                        2nd Runner up
                    <li class="bronze">
                        50 000 LKR
                    </li>
                    <hr>
                    </li>
                    <li>
                        Consolation gifts
                    </li>
                </ul>
            </div>
            <div class="price_footer">
                <a href="assets/pdf/xbotix_2023_UG.pdf" class="btn btn-primary btn-rounded">Task</a>
            </div>
        </div>
    </div>
    <div class="w-full pr-4 ">
        <div class="text-center price_box">
            <div class="price_header">
                <h3>
                    School Category
                </h3>
                <h5>
                    Prizes
                </h5>
            </div>
            <div class="price_features">
                <ul>
                    <li>
                        Winners
                    <li class="gold">
                        100 000 LKR
                    </li>
                    <hr>
                    </li>

                    <li>
                        1st Runner up
                    <li class="silver">
                        70 000 LKR
                    </li>
                    <hr>
                    </li>

                    <li>
                        2nd Runner up
                    <li class="bronze">
                        50 000 LKR
                    </li>
                    <hr>
                    </li>
                    <li>
                        Consolation gifts
                    </li>
                </ul>
            </div>
            <div class="price_footer">
                <a href="assets/pdf/xbotix_2023_school.pdf" class="btn btn-primary btn-rounded">Task</a>
            </div>
        </div>
    </div>
</div>
  
</div>
