---
import "../../styles/tickets.css";
---

<div>
  <div class="bg-img pt-10 pb-10">
    <div class="md:container">
      <div class="section_title mb30">
        <h3 class="title color-light">Register Now</h3>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-md-9 text-md-left text-center color-light">
          Go through the form and submit with your team details before the
          deadline.
        </div>
        <div class="col-md-3 pt-5 text-md-right text-center">
          <a href="Registration.html" class="btn btn-primary btn-rounded mt30"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
