---
import Title from "../Title.astro";
import { getImage } from "astro:assets";


import react from "react"
import '../../styles/contact.css'

;

// const optimizedImage = await getImage({
//   src: BackgroundImage,
//   formats: ["avif", "webp", "jpeg"],
// });

---


<div>


      <section class="pt-10 pb-10">
        <div class="container-new">
          <img id="xbotix-img" src="assets/img/logo-dark.png" alt="evento" />
          <div class="flex flex-row lg:flex-row  mt-8 mt-10 contact_form">
            <div class="">
              <form name="contact" method="POST" data-netlify="true">
        
                <div class="form-group">
                    <label for="">Name of the University</label>
                  <input type="text" class="form-control" placeholder="name" />
                </div>
                <div class="form-group">
                    <label for="">Name of the Team</label>
                  <input type="email" class="form-control" placeholder="email" />
                </div>
                <hr>
                <h1 class="pb-5">Member 1</h1>
                <div class="member">
                    <div class="form-group">
                        <label for="">Name</label>
                      <input type="text" class="form-control-1" placeholder="subject" />
                    </div>
                    <div class="form-group">
                        <label for="">NIC</label>
                      <input class="form-control-1"  placeholder="massage"></input>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                      <input class="form-control-1" placeholder="massage"></input>
                    </div>
                </div>
                <h1 class="pb-5">Member 2</h1>
                <div class="member">
                    <div class="form-group">
                        <label for="">Name</label>
                      <input type="text" class="form-control-1" placeholder="subject" />
                    </div>
                    <div class="form-group">
                        <label for="">NIC</label>
                      <input class="form-control-1"  placeholder="massage"></input>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                      <input class="form-control-1" placeholder="massage"></input>
                    </div>
                </div>

                <h1 class="pb-5">Member 3</h1>
                <div class="member">
                    <div class="form-group">
                        <label for="">Name</label>
                      <input type="text" class="form-control-1" placeholder="subject" />
                    </div>
                    <div class="form-group">
                        <label for="">NIC</label>
                      <input class="form-control-1"  placeholder="massage"></input>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                      <input class="form-control-1" placeholder="massage"></input>
                    </div>
                </div>

                <h1 class="pb-5">Member 4</h1>
                <div class="member">
                    <div class="form-group">
                        <label for="">Name</label>
                      <input type="text" class="form-control-1" placeholder="subject" />
                    </div>
                    <div class="form-group">
                        <label for="">NIC</label>
                      <input class="form-control-1"  placeholder="massage"></input>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                      <input class="form-control-1" placeholder="massage"></input>
                    </div>
                </div>

                <h1 class="pb-5">Member 5</h1>
                <div class="member">
                    <div class="form-group">
                        <label for="">Name</label>
                      <input type="text" class="form-control-1" placeholder="subject" />
                    </div>
                    <div class="form-group">
                        <label for="">NIC</label>
                      <input class="form-control-1"  placeholder="massage"></input>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                      <input class="form-control-1" placeholder="massage"></input>
                    </div>
                </div>
          
          
                <div class="form-group text-right">
                  <button class="btn btn-rounded btn-primary">
                    send massage
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
</div>

